# Insira os dados de conexão com seu banco de dados PostgreSQL aqui
# O driver utilizado é o asyncpg (adequado para uso assíncrono com FastAPI/SQLAlchemy)
# Formato esperado: postgresql+asyncpg://<usuario>:<senha>@<host>:<porta>/<banco_de_dados>

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
